
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iTraveller</title>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/animate.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/myStyle.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/css/style.css">


    <div class="loader"></div>
    <div>
    <!--HEADER-->
    <div id="container">
      <div >
        <header id="main-header">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container" style="background-color: #4d6791">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">i<span class="logo-dec">traveller</span></a>
            </div>
            <div class="collapse navbar-collapse nav-menu-container" id="myNavbar">
              <ul class="nav navbar-nav navbar-right nav-menu">
                <li ><a href="/">Home</a></li>


                <% if (typeof user !== "undefined"){ %>
                  <li><a href="/profile"> My Profile </a></li>
                  <li><a href="/trips"> My Trips </a></li>
                  <li><a href="/logout"> Log Out </a></li>
                  <% } else { %>
                    <li data-toggle="modal" data-target="#signupModal"><a href="#"> Sign Up</a> </li>
                    <li data-toggle="modal" data-target="#loginModal"><a href="#"> Log In </a></li>
                  <% } %>
                <!-- <li class=""><a href="#feature">About</a></li> -->
                <!-- <li class=""><a href="#contact">Contact Us</a></li> -->
                <li><a href="#" data-toggle="modal" data-target="#searchModal"><span class="glyphicon glyphicon-search"></span> Search</a></li>
              </ul>
            </div>
          </div>
        </nav>
        </header>

      </div>
    </div>
    </div>
  </head>
  <body>







  <%- body %>




  <div class="container">

    <!-- Modal -->
    <div class="modal fade" id="searchModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Search Section</h4>
          </div>
          <div class="modal-body">
            <section class="search-box1" id="panel">
              <div class="container">
                <form method="get" action="/search" class="form-inline" role="form"  >
                  <div class="col-sm-8 col-xs-8 form-group top_search" style="padding-right:0px;">
                    <div class="row">
                      <label class="sr-only" for="search-term-input">Search here...</label>
                      <span class="serach-footer"><img class="srch" src="./img/srch.png" /></span>
                      <input id="search-term-input" type="search" class="form-control search-wrap" name="tripSearchTerm" placeholder="Search here...">
                      <button type="submit" class="btn btn-default search-btn">SEARCH</button>
                    </div>
                  </div>
                </form>
              </div>
            </section>
          </div>

          </div>
        </div>

      </div>
    </div>


  </body>
  <div class="">

  </div>

      <!-- <div class="">
        <footer id="footer" style="position: absolute; bottom: 0px;">
              <div class="container">
                <div class="row text-center">
                  <p>&copy; Bootstrap Theme. All Rights Reserved.</p>
                  <div class="credits">
                    Designed  by <a href="https://bootstrapmade.com/">Bootstrap Themes</a>
                </div>
                </div>
              </div>
            </footer>
      </div> -->
      <script src="/js/jquery.min.js"></script>
      <script src="/js/jquery.easing.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/wow.js"></script>
      <script src="/js/jquery.bxslider.min.js"></script>
      <script src="/js/custom.js"></script>
</html>
