<br><br>
<br><br>

<div class="container">
    <form id ="formnew" action="/trips/new" method="post" enctype="multipart/form-data" class="well span8" role="form">
        <div class="row">
            <div class="col-sm-12 col-md-4">
              <br>
              <div class="form-group">
                <label class="col-sm-4 control-label" for="trip-country-input"> Country </label>
                <input  class="formLayoutTrip" id="trip-country-input" type="text" name="tripCountry" placeholder="" required>
            	 </div>

            	<div class="form-group">
                <label  class="col-sm-4 control-label" for="trip-city-input"> City </label>
                <input  class="formLayoutTrip" id="trip-city-input" type="text" name="tripCity" placeholder="" required>
            	</div>

				      <div class="form-group">
	              <label class="col-sm-4 control-label" for="trip-year-input"> Year </label>
                <input  class="formLayoutTrip" id="trip-year-input" type="number" name="tripYear" placeholder=""required>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label" for="trip-days-input"> For how long:  </label>
                <input  class="formLayoutTrip" id="trip-days-input" type="text" name="tripDays" placeholder="" required>
              </div>


            </div>

            <div class="col-md-8">
                <div class="form-group">
                  <label class="col-sm-12 control-label" for="trip-something-input"> This trip I'll remember because... </label>
                  <textarea id="trip-something-input" class="form-control" rows="3" name="tripSomething" placeholder="" required></textarea>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label" for="trip-thingsSeen-input"> Tourist attractions seen </label>
                  <textarea id="trip-thingsSeen-input" class="form-control" rows="3" name="thingsSeen" placeholder=""></textarea>
                </div>
                <label class="col-sm-4 control-label" for="trip-desc-input"> Description </label>
                <textarea id="trip-desc-input" class="form-control" rows="6" name="tripDescription" placeholder="" required></textarea>
                <br>
                <label class="col-sm-4 control-label" for="trip-photo-input"> Upload Photo </label>
                <input id="trip-photo-input" type="file" name="tripPhoto" multiple="" value="">
                  <br>
                <button class="btn btn-primary pull-right voffset3"> Save Trip </button>
           	</div>
        </div>
    </form>
</div>
